
/* testing */
/* div {background-color: rgba(255, 0, 0, 0.185);} */

.outer-body {
    --text-font: 'Open Sans', sans-serif;
    --code-font-family: "Courier New", Courier, monospace;
    
    --black-light: rgba(0, 0, 0, 0.22);
    --text-color: rgb(53, 54, 56);
    --text-color-light: rgb(98, 100, 104);
    --code-border-color: rgba(173, 173, 173, 0);
    --code-background-color: rgb(61, 61, 61);
    --code-color: rgb(233, 233, 233);
    --bg-color: #fff
}

:root {
    font-size: 22px;
}

div, p, span {
    font-family: var(--text-font);
}

body {
    margin: 0;
    background: var(--bg-color);
}

img {
    border-radius: 2px;
}

a {
    color: #F36C00;
    text-decoration: none;
}

.outer-body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 3rem;
    margin-top: 15vh;
}

/* Left sidebar */

.left-sidebar {
    text-align: right;
    margin-left: 3em;
}

.site-navigator {
    margin-top: 0;
    font-size: 1rem;
    width: max-content;
    float: right;
}

.site-navigator a {
    text-decoration: none;
    color: var(--black-light) !important;
}

.site-navigator div {
    text-align: right;
    margin-bottom: 0.7em;
}

.content-navigator {
    --navigator-tab-length: 2.5rem;
    text-align: left;
    float: right;
}

.content-navigator div {
    padding-left: var(--navigator-tab-length);
    padding-top: 0.5rem;
    width: fit-content;
}
.content-navigator > div {
    padding-left: 0;
    padding-top: 0;
}

.content-navigator a {
    text-decoration: none;
}

/* Article body */

.article-header > img {
    width: 100%;
}

.article-header > h1 {
    /* margin-top: 0; */
    margin-top: -2rem !important;
}

.article-header > div {
    margin-top: 1em;
}

.inner-body :first-child {
    margin-top: 0;
}

.txt-img-full {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.txt-img-full img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.txt-img-full div {
    color: var(--text-color-light);
    padding-top: 0.5rem;
    font-size: 1rem;
}

.seperate {
    width: 100%;
    border-bottom: 1px solid var(--black-light);
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.code {
    font-family: var(--code-font-family);
    padding: 0.2em;
    border: 1px solid var(--code-border-color);
    background-color: var(--code-background-color);
    color: var(--code-color);
    border-radius: 0.2em;
}

pre.code {
    padding: 0.5em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}