
/* testing */
/* div {background-color: rgba(255, 0, 0, 0.185);} */

html {
    font-size: 18px;
}

body {
    margin: 0;
}

.outer-body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 3rem;
    margin-top: 15vh;
}


/* Left sidebar */

.left-sidebar {
    text-align: right;
}

.site-navigator {
    padding-bottom: 0.8rem;
    margin-top: 0;
}

.site-navigator > a {
    font-size: 1.5rem;
}
.site-navigator > br {
    line-height: 2.5rem;
}

.content-navigator {
    
}

/* Article body */

.inner-body {
    
}

.article-header > img {
    width: 100%;
}

.article-header > h1 {
    margin-top: 0;
}

.article-header > div {
    margin-top: 1em;
}


.txt-img-full img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.txt-img-full div {
    color: rgb(128, 128, 128);
    padding-top: 0.5rem;
    font-size: 1rem;
}

.txt-img-full {
    max-width: 90%;
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1rem;
}


.seperate {
    width: 100%;
    border-bottom: 1px solid rgb(104, 104, 104);
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}